version: "3.9"

services:

  bidder:
    build: ./bidder
    container_name: bidder
    networks:
      - local
    depends_on:
      - campaigns
    environment:
        CAMPAIGNS_HOST : http://campaigns:3001
        CAMPAIGNS_ENDPOINT: /api/campaigns
    ports:
      - "3000:3000"

  campaigns:
    build: ./campaigns
    container_name: campaigns
    networks:
      - local
    ports:
      - "3001:3001"

networks:
  local:
    driver: bridge
